<%= form_for(@case) do |f| %>
  <% if @case.errors.any? %>
    <div class="notice error">
      <i class="icon-remove-sign icon-large"></i>&nbsp;
      <%= pluralize(@case.errors.count, "error") %> prohibited this case from being saved
    </div>
  <% end %>

  <div class="field">
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <label>Who can see this case?</label><br />
    <label><%= f.radio_button :public, true %> Everyone</label>
    &nbsp;
    <label><%= f.radio_button :public, false %> Just Me</label>
  </div>

  <br />

  <div class="field">
    <label>Who can edit this case?</label><br />
    <label>
      <%= f.radio_button :active, true %>
      <strong>Public</strong> - People can add notes and edit the case
    </label>
    <br>
    <label>
      <%= f.radio_button :active, false %>
      <strong>Closed</strong> - Nobody can add notes or make changes to the case
    </label>
  </div>

  <br />

  <div class="field">
    <%= f.label 'Associate with Company:' %><br />
    <%= f.text_field :business, value: company_name(@case) %>
  </div>

  <div class="actions">
    <%= submit_add_edit_button f, @case %>
  </div>
<% end %>
