<h1>Listing cases</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Public</th>
    <th>Active</th>
    <th>Company</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @cases.each do |c| %>
  <tr>
    <td><%= c.name %></td>
    <td><%= c.public %></td>
    <td><%= c.active %></td>
    <td><%= company_name c %></td>
    <td><%= link_to 'Show', c %></td>
    <td><%= link_to 'Edit', edit_case_path(c) %></td>
    <td><%= link_to 'Destroy', c, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Case', new_case_path %>
