<div class="clearfix">
  <div class="col_7">
    <header>
      <h4><%= contact_full_name @contact %></h4>
      <% unless @contact.company.nil? %>
        <%= link_to @contact.company.name, @contact.company %>
      <% end %>
    </header>

    <ul class="tabs left">
      <li><a href="#notes">Notes</a></li>
      <li><a href="#deals">Deals</a></li>
    </ul>

    <div id="notes" class="tab-content">
      <%= render 'notes/form' %>
    </div>

    <div id="deals" class="tab-content">
      <p>Deals</p>
    </div>
  </div>

  <div class="col_4 pull-right">
    <%= edit_button 'Edit this person', edit_contact_path(@contact) %>

    <p><strong>Personal Info</strong></p>
    <%= render 'information' %>
  </div>
</div>
