<div class="clearfix">
  <div class="col_7">
    <header>
      <h4><%= @company.name %></h4>
      <!-- tags -->
    </header>

    <ul class="tabs left">
      <li><a href="#notes">Notes</a></li>
      <li><a href="#people"><%= pluralize @company.contacts.count, 'Person' %></a></li>
      <li><a href="#deals">Deals</a></li>
    </ul>

    <div id="notes" class="tab-content">
      <%= render 'notes/form' %>
    </div>

    <div id="people" class="tab-content">
      <ul class="alt">
        <%= render @company.contacts %>
      </ul>
    </div>

    <div id="deals" class="tab-content">
      <p>Deals</p>
    </div>
  </div>

  <div class="col_4 pull-right">
    <%= edit_button 'Edit this company', edit_company_path(@company) %>

    <p><strong>Company Info</strong></p>
    <%= render 'information' %>
  </div>
</div>
